@import 'https://fonts.googleapis.com/css?family=Ruslan+Display';

input, button {
  font-family: sans-serif;
  font-size: 15px;

}


body {
    background-image: url(images/background.jpg);
    margin: auto 0;
    text-align: center;

}

h2 {
    color: gold;
}

p{
    color: gold;
    font-family: 'Ruslan Display', cursive;
    font-size: 34px;
}

img {
    align-content: center;
    margin: auto;
}
